# Exclude everything
*

# Allow all sub-directories
!*/

# Allow these file extensions
!*.yaml
!*.sh
!*.png
!*.md
!*.py

# Allow these specific files 
!.gitignore

# Re-exclude these files as their extensions were allowed above
secrets.yaml
known_devices.yaml

# Re-exclude these directories as they were allowed above
/www
README_TEMPLATE.md
render_readme.py
