# Based on whether the front room lamp is on or off, work out if the current scene is normal or dim and toggle to the other.
dim_toggler:
  sequence:
    - service: scene.turn_on
      data_template:
        entity_id: >
          {% if is_state('light.front_room_lamp', 'on') %}
            scene.front_room_dim
          {% else %}
            scene.downstairs_general
          {% endif %}
