- type: picture-elements
  image: /local/remote.png
  elements:
    - type: image
      image: /local/remote/power.png
      tap_action:
        action: call-service
        service: script.normal_av
      style:
        top: 16.66%
        left: 16.66%
        width: 80px
        height: 80px
    - type: image
      image: /local/remote/volume-plus.png
      tap_action:
        action: call-service
        service: script.volume_upx4
      style:
        top: 16.66%
        left: 83.33%
        width: 80px
        height: 80px
    - type: image
      image: /local/remote/volume-minus.png
      tap_action:
        action: call-service
        service: script.volume_downx4
      style:
        top: 50%
        left: 83.33%
        width: 80px
        height: 80px
    - type: image
      image: /local/remote/volume-off.png
      tap_action:
        action: call-service
        service: script.mute
      style:
        top: 83.33%
        left: 83.33%
        width: 80px
        height: 80px
    - type: image
      image: /local/remote/arrow-left.png
      tap_action:
        action: call-service
        service: script.sky_back
      style:
        top: 16.66%
        left: 50%
        width: 80px
        height: 80px
    - type: image
      image: /local/remote/remote.png
      style:
        top: 80%
        left: 33.33%

- type: entities
  title: TV Inputs
  show_header_toggle: false
  entities:
    - script.input_sky
    - script.input_chromecast
    - script.input_xbox
    - script.input_apple_tv
    - script.input_guest

- type: entities
  title: AV Power
  show_header_toggle: false
  entities:
    - script.normal_av
    - script.tv
    - script.amp
    - script.sky_box

- type: entities
  title: House Audio Volume
  show_header_toggle: false
  entities:
    - input_number.whole_house_volume
    - type: section
      label: Areas
    - input_number.downstairs_volume
    - input_number.front_room_volume
    - input_number.bathroom_volume

- type: media-control
  entity: media_player.spotify
