- type: thermostat
  entity: climate.nest
  name: Central Heating

- type: entities
  title: Central Heating Controls
  show_header_toggle: false
  entities:
    - entity: script.heating_quick_actions_21
      name: Set to 21
      icon: mdi:temperature-celsius
    - entity: script.heating_quick_actions_boost
      name: Heating Boost (5 min)
      icon: mdi:fire

- type: thermostat
  entity: climate.office_heater

- type: glance
  title: Indoor Temperatures
  columns: 3
  entities:
    - entity: sensor.nest_temperature
      name: Downstairs
    - entity: sensor.landing_temperature_sensor_temperature
      name: Landing
    - entity: sensor.blues_room_temperature_sensor_temperature
      name: Blue's Room
    - entity: sensor.loft_temperature
      name: Loft
    - entity: sensor.master_bedroom_temperature_sensor_temperature
      name: Master Bedroom
    - entity: sensor.office_temperature_sensor_temperature
      name: Office

- type: glance
  title: Indoor Humidity
  columns: 3
  entities:
    - entity: sensor.nest_humidity
      name: Downstairs
    - entity: sensor.landing_temperature_sensor_humidity
      name: Landing
    - entity: sensor.blues_room_temperature_sensor_humidity
      name: Blue's Room
    - entity: sensor.loft_humidity
      name: Loft
      icon: mdi:water-percent
    - entity: sensor.master_bedroom_temperature_sensor_humidity
      name: Master Bedroom
    - entity: sensor.office_temperature_sensor_humidity
      name: Office

- type: entities
  title: Outdoor Climate
  show_header_toggle: false
  entities:
    - sensor.dark_sky_temperature
    - sensor.dark_sky_precip_probability

- type: entities
  title: One-Off Heating Timer
  show_header_toggle: false
  entities:
    - sensor.ad_hoc_heating_time
    - input_number.ad_hoc_heating_time_hour
    - input_number.ad_hoc_heating_time_minute
    - entity: automation.ad_hoc_heating_timer
      name: Activated
      icon: mdi:alarm-multiple

# - type: entities
#   title: Office
#   show_header_toggle: false
#   entities:
#     - entity: automation.office_heater_on
#       name: Auto Mode
#       icon: mdi:home-thermometer-outline
#     - entity: input_number.office_heater_target
#       name: Target Temperature
#     - entity: sensor.office_temperature_sensor_temperature
#       name: Current Temperature
#     - entity: switch.office_heater
#       name: Oil Heater
#       icon: mdi:radiator
