# Toggle the bathroom lights on single click of the bathroom Xiaomi switch
- alias: bathroom_xiaomi_switch_single_click
  initial_state: true
  trigger:
    platform: state
    entity_id: sensor.bathroom_xiaomi_switch_action
    to: single
  action:
    service: light.toggle
    entity_id: light.bathroom_all

# Toggle the office lamp on double click of the bathroom Xiaomi switch
- alias: bathroom_xiaomi_switch_double_click
  initial_state: true
  trigger:
    platform: state
    entity_id: sensor.bathroom_xiaomi_switch_action
    to: double
  action:
    service: switch.toggle
    entity_id: switch.ikea_socket_switch

# Toggle the bedroom blinds on hold of the bathroom Xiaomi switch
- alias: bathroom_xiaomi_switch_hold
  initial_state: true
  trigger:
    platform: state
    entity_id: sensor.bathroom_xiaomi_switch_action
    to: hold
  action:
    service: cover.toggle
    entity_id: cover.master_bedroom
