# Turn the bathroom mirror lights on when the main bathroom lights are turned on
- alias: bathroom_lights_mirror_lights_on
  initial_state: true
  trigger:
    platform: state
    entity_id: light.bathroom_all
    to: "on"
  action:
    service: light.turn_on
    entity_id: light.bathroom_mirror_lights

# Turn the bathroom mirror lights off when the main bathroom lights are turned off
- alias: bathroom_lights_mirror_lights_off
  initial_state: true
  trigger:
    platform: state
    entity_id: light.bathroom_all
    to: "off"
  action:
    service: light.turn_off
    entity_id: light.bathroom_mirror_lights

# Turn the bathroom mirror lights on if there is motion in the bathroom after sunset
- alias: bathroom_lights_night_light_on
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.bathroom_motion_sensor_occupancy
    to: "on"
  condition:
    condition: state
    entity_id: sun.sun
    state: "below_horizon"
  action:
    service: light.turn_on
    entity_id: light.bathroom_mirror_lights

# As long as the main bathroom lights are off, turn the bathroom mirror lights off once there has been no motion in the bathroom for 5 seconds (debounce). In reality this timeout is more like 2 minutes due to the polling frequency of the Xiaomi mothion sensors.
- alias: bathroom_lights_night_light_off
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.bathroom_motion_sensor_occupancy
    to: "off"
    for:
      seconds: 5
  condition:
    condition: state
    entity_id: light.bathroom_all
    state: "off"
  action:
    service: light.turn_off
    entity_id: light.bathroom_mirror_lights

- alias: bathroom_light_temperature
  initial_state: true
  trigger:
    platform: state
    entity_id: light.bathroom_all
    to: "on"
  action:
    - choose:
      # IF after sunset
      - conditions:
          condition: state
          entity_id: sun.sun
          state: "below_horizon"
        sequence:
          - service: light.turn_on
            data:
              entity_id: light.bathroom_all
              color_temp: 370
              brightness: 200
      # ELSE
      default:
        - service: light.turn_on
          data:
            entity_id: light.bathroom_all
            color_temp: 230
            brightness: 255
