# Turn on the garden lights if either of the back doors are opened after sunset.
- alias: garden_lights_on
  initial_state: true
  trigger:
    # Kitchen Door
    - platform: state
      entity_id: binary_sensor.garden_door_contact
      to: "on"
    # Patio Doors
    - platform: state
      entity_id: binary_sensor.patio_doors_contact
      to: "on"
    # Lodge Door
    - platform: state
      entity_id: binary_sensor.lodge_door_contact
      to: "on"
  condition:
    condition: state
    entity_id: sun.sun
    state: "below_horizon"
  action:
    service: homeassistant.turn_on
    entity_id: group.garden

# Turn off the garden lights after 5 minutes.
- alias: garden_lights_off
  initial_state: true
  trigger:
    platform: state
    entity_id: group.garden
    to: "on"
    for:
      minutes: 5
  action:
    service: homeassistant.turn_off
    entity_id: group.garden
