- alias: maestro_corner_lamp_input
  initial_state: True
  trigger:
    platform: state
    entity_id: input_select.maestro_corner_lamp
  action:
    - choose:
        - conditions:
            - condition: template
              value_template: "{{ trigger.to_state.state == 'Off' }}"
          sequence:
            - service: light.turn_off
              entity_id: light.corner_lamp
      default:
        - service: light.turn_on
          data:
            entity_id: light.corner_lamp
            effect: UDP
        - service: mqtt.publish
          data_template:
            topic: maestro/corner_lamp/animation/start
            payload: >
              {% if trigger.to_state.state == 'Fire' %}
                {"animation": "fire"}
              {% elif trigger.to_state.state == 'Police' %}
                {"animation": "police"}
              {% elif trigger.to_state.state == 'Sparkle' %}
                {"animation": "sparkle"}
              {% elif trigger.to_state.state == 'Bouncing Ball' %}
                {"animation": "bouncing_ball"}
              {% elif trigger.to_state.state == 'Bouncing Balls' %}
                {"animation": "bouncing_balls"}
              {% endif %}

- alias: maestro_corner_lamp_off
  initial_state: True
  trigger:
    platform: state
    entity_id: light.corner_lamp
    to: "off"
  action:
    - service: mqtt.publish
      data_template:
        topic: maestro/corner_lamp/animation/stop
    - service: input_select.select_option
      data:
        entity_id: input_select.maestro_corner_lamp
        option: "Off"

- alias: maestro_stairs_input
  initial_state: True
  trigger:
    platform: state
    entity_id: input_select.maestro_stairs
  action:
    - choose:
        - conditions:
            - condition: template
              value_template: "{{ trigger.to_state.state == 'Off' }}"
          sequence:
            - service: light.turn_off
              entity_id: light.stairs
      default:
        - service: light.turn_on
          data:
            entity_id: light.stairs
            effect: UDP
        - service: mqtt.publish
          data_template:
            topic: maestro/stairs/animation/start
            payload: >
              {% if trigger.to_state.state == 'Fire' %}
                {"animation": "fire"}
              {% elif trigger.to_state.state == 'Police' %}
                {"animation": "police"}
              {% elif trigger.to_state.state == 'Sparkle' %}
                {"animation": "sparkle"}
              {% elif trigger.to_state.state == 'Bouncing Ball' %}
                {"animation": "bouncing_ball"}
              {% elif trigger.to_state.state == 'Bouncing Balls' %}
                {"animation": "bouncing_balls"}
              {% elif trigger.to_state.state == 'Startup' %}
                {"animation": "fade_sequence", "config": {"sequence": [111, 105, 96, 86, 77, 68, 58, 49, 40, 30, 21, 12, 3], "target_rgb": [255, 200, 145], "speed": 50}}
              {% elif trigger.to_state.state == 'Shutdown' %}
                {"animation": "fade_sequence", "config": {"sequence": [3, 12, 21, 30, 40, 49, 58, 68, 77, 86, 96, 105, 111], "target_rgb": [0, 0, 0], "speed": 5, "clear_first": false}}
              {% endif %}

- alias: maestro_stairs_off
  initial_state: True
  trigger:
    platform: state
    entity_id: light.stairs
    to: "off"
  action:
    - service: mqtt.publish
      data_template:
        topic: maestro/stairs/animation/stop
    - service: input_select.select_option
      data:
        entity_id: input_select.maestro_stairs
        option: "Off"

- alias: maestro_stairs_shutdown_finished
  initial_state: true
  trigger:
    platform: state
    entity_id: input_select.maestro_stairs
    to: "Shutdown"
  action:
    - wait_for_trigger:
        platform: mqtt
        topic: maestro/animation/finished
        payload: "fade_sequence"
    - service: light.turn_off
      entity_id: light.stairs
